
@media (min-width: 900px) {


    .hamburguer {
        display: none;
    }

    /* NAVIGATION */

    .navigator {
        display: flex;
        background: var(--primary);
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .navigation {
        display: block;
        padding: 0.5rem;
        background: var(--primary);

    }

    .navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
  }

    #nav-bar {
        width: auto;
        justify-self: right;
    }

    .navigation a {
        border: none;
        transition: background-color 0.3s ease;
        align-items: center;
        padding-top: 1rem;
        gap: 0;
        width: 150px;
    }


  
  .layout {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    gap: 3rem;
    align-items: start;
  }

  
  

  
  header {
    justify-content: space-between;
    padding: 1rem 2rem;
  }

  nav {
    justify-content: flex-end;
    gap: 2rem;
  }



  /* FOOTER */

    footer {
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        padding: 2rem;
        min-height: 250px;
    }

    footer>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }

    .contact {
        text-align: left;
    }

    .social {
        flex-direction: row;
        justify-content: center;
        gap: 1rem;

    }

    .date {
        text-align: center;
    }
}

